:root {
  --section-color: #fff;
  --sectionHeader-color: #fcbf49;
}

.section {
  margin: 10px;
  padding: 10px;
  color: var(--section-color);

  &__header {
    color: var(--sectionHeader-color);
    margin: 20px;
  }

  &__description {
    &--dark {
      background-color: var(--background-color);
      color: var(--text-color);
    }
    &--ciekawostka {
      color:rgb(89, 148, 236);
    }
  }

  &--grid {
    @media (min-width: 768px) {
      display: grid;
      grid-template: 1fr / 1fr 1fr;
      column-gap: 16px;
    }
  }

  &__repo-list {
    border: solid 1px #fcc049c4;
    border-radius: 16px;
    padding: 16px;
    list-style-type: none;
    margin: 0 40px 10px 0;
  }

  &__repo-links {
    color: rgb(89, 148, 236);
    text-decoration: none;
  }
}

.external-link {
  color: rgb(89, 148, 236);
  text-decoration: none;
}
