@import "~normalize.css";

@import "_variables";
@import "modules/images.scss";
@import "modules/sections.scss";
@import "modules/navigation.scss";

:root {
  --background-color: rgba(12, 13, 14, 50%);
  --mainHeader-color:  #fcbf49;
  --timePlaceholder-color: #fff;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.timePlaceholder {
  color: var(--timePlaceholder-color);
  display: flex;
  justify-content: flex-end;
  padding: 2px 6px;
}

header {
  min-height: 70px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
}

body {
  display: block;
  margin: auto;
  background-image: url("../assets/img/trees.jpg");
  background-repeat: space;
  background-attachment: fixed;
}

.main {
  max-width: 1000px;
  margin: 60px auto 0;
  background-color: var(--background-color);
  border-radius: 16px;
}

.main-header {
  color: var(--mainHeader-color);
  display: block;
  text-align: center;
  margin: 16px auto 16px;
  padding-top: 10px;
}

.lightmode__button {
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: flex;
  position: fixed;
  bottom:8px;
  right:8px;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;

  &:hover {
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color: #bab1ba;
  }

  @media (min-width: 768px) {
    bottom:8px;
  }
}

.footer {
  color: #fff;
  margin: 8px;

  &__link {
    color: #fff;
  }
}

#ciekawostka {
  background: #c7860e;
  border-radius: 10px;
  border: 3px solid black;
  padding: 10px;
}
